

/*
 * 外層
 *
 */

.page-section {
  padding-top: 70px;
  padding-bottom: 70px;
}


/*
 * 選單列
 *
 */

.main-nav a span {
  font-weight: bold;
}

.inner-nav ul li .mn-sub li .mn-group-title {
  color: #fff !important;
}


/*
 * 首頁特色
 *
 */

.alt-features-grid .fa {
  font-size: 48px;
  color: #666;
}

.alt-features-grid .alt-features-title {
  font-size: 16px;
  letter-spacing: .1em;
}


/*
 * 透明度
 *
 */

.opacity-1 { opacity: .1; }
.opacity-3 { opacity: .3; }
.opacity-5 { opacity: .5; }
.opacity-7 { opacity: .7; }
.opacity-9 { opacity: .9; }


/*
 * 字體大小
 *
 */

.font-12 { font-size: 12px; }
.font-14 { font-size: 14px; }
.font-16 { font-size: 16px; }
.font-18 { font-size: 18px; }
.font-22 { font-size: 22px; }
.font-24 { font-size: 24px; }
.font-32 { font-size: 32px; }
.font-48 { font-size: 48px; }
.font-64 { font-size: 64px; }


/*
 * 單字間距
 *
 */
 
.ls-0 { letter-spacing: 0em; }
.ls-1 { letter-spacing: .1em; }
.ls-2 { letter-spacing: .2em; }
.ls-3 { letter-spacing: .3em; }
.ls-4 { letter-spacing: .4em; }
.ls-5 { letter-spacing: .5em; }


/*
 * 樣式和顏色
 *
 */

.italic {
  font-style: italic;;
}

.bold {
  font-weight: bold;
}