

/*
 * 外層
 *
 */

.page-section {
  padding-top: 70px;
  padding-bottom: 70px;
}


.service-section {
  background-color: #fafafa;
}


/*
 * 選單列
 *
 */

.main-nav a span {
  font-weight: bold;
}

.inner-nav ul li .mn-sub li .mn-group-title {
  color: #fff !important;
}

.main-nav {
  background: rgba(10,10,10, .75) !important;
}

.inner-nav .width-nav {
  width: 280px !important;
}


/*
 * Logo
 *
 */

.nav-logo-wrap .logo {
  width: 75px;
}


/*
 * 首頁特色
 *
 */

.alt-features-grid .fa {
  font-size: 48px;
  color: #666;
}

.alt-features-grid .alt-features-title {
  font-size: 16px;
  letter-spacing: .1em;
}


/*
 * 行程封面
 *
 */


.cover-box {
  height: 280px;
  overflow: hidden;
  position: relative;;
}

.cover-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: rgba(0,0,0,.3);
}

.cover-box .cover-title {
  position: absolute;
  left: 16px;
  top: 12px;
  color: #fff;
  text-shadow: 0px 1px 0px rgba(0,0,0,.5);
}

.cover-box .label {
  top: -2px;
  position: relative;
}


/*
 * 透明度
 *
 */

.opacity-1 { opacity: .1; }
.opacity-3 { opacity: .3; }
.opacity-5 { opacity: .5; }
.opacity-7 { opacity: .7; }
.opacity-9 { opacity: .9; }

.bg-opacity-1 { opacity: .1; }
.bg-opacity-3 { opacity: .3; }
.bg-opacity-5 { opacity: .5; }
.bg-opacity-7 { opacity: .7; }
.bg-opacity-9 { opacity: .9; }


/*
 * 字體大小
 *
 */

.font-12 { font-size: 12px; }
.font-14 { font-size: 14px; }
.font-16 { font-size: 16px; }
.font-18 { font-size: 18px; }
.font-22 { font-size: 22px; }
.font-24 { font-size: 24px; }
.font-32 { font-size: 32px; }
.font-48 { font-size: 48px; }
.font-64 { font-size: 64px; }


/*
 * 單字間距
 *
 */
 
.ls-0 { letter-spacing: 0em; }
.ls-1 { letter-spacing: .1em; }
.ls-2 { letter-spacing: .2em; }
.ls-3 { letter-spacing: .3em; }
.ls-4 { letter-spacing: .4em; }
.ls-5 { letter-spacing: .5em; }


/*
 * 樣式和顏色
 *
 */

.italic {
  font-style: italic;;
}

.bold {
  font-weight: bold;
}