<!DOCTYPE html>
<html>
  <head>
    <title>Spark - 串起所有旅行的感動</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta charset="utf-8">
    <meta name="author" content="Roman Kirichik">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <!-- Favicons -->
    <link rel="shortcut icon" href="assets/images/favicon.png">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

    <!-- CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/style-responsive.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/rev-slider.css">
    <link rel="stylesheet" href="rs-plugin/css/settings.css" media="screen" />
    <link rel="stylesheet" href="assets/spark/style.css" media="screen" />
    <link rel="stylesheet" href="css/vertical-rhythm.min.css">

  </head>
  <body class="appear-animate">

    <!-- Page Loader -->
    <div class="page-loader">
      <div class="loader">Loading...</div>
    </div>
    <!-- End Page Loader -->

    <!-- Page Wrap -->
    <div class="page" id="top">

      <!-- Home Section -->
      <div class="home-section fullscreen-container" id="home">
        <div class="fullscreenbanner-s bg-dark">
          <ul>

            <!-- Slide Item -->
            <li data-transition="fade" data-slotamount="7" data-title="">

              <img src="assets/images/covers/till-the-cows-come-home.jpg" alt="">

              <div class="caption fade tp-resizeme hs-line-8"
                data-startslide="1"
                data-x="center" data-hoffset="0"
                data-y="center" data-voffset="-100"
                data-speed="3000"
                data-start="800"
                data-endspeed="500"
                data-easing="Power4.easeOut"
                data-endeasing="Power4.easeIn">

                旅行 / 探索 / 放逐 / 追尋

              </div>

              <div class="caption fade tp-resizeme hs-line-7"
                data-startslide="1"
                data-x="center" data-hoffset="0"
                data-y="center" data-voffset="-14"
                data-speed="3500"
                data-start="800"
                data-endspeed="500"
                data-easing="Power4.easeOut"
                data-endeasing="Power4.easeIn">

                體驗前所未見的旅遊行程

              </div>


              <div class="caption fade tp-resizeme"
                data-startslide="1"
                data-x="center" data-hoffset="0"
                data-y="center" data-voffset="83"
                data-speed="3500"
                data-start="800"
                data-endspeed="500"
                data-easing="Power4.easeOut"
                data-endeasing="Power4.easeIn">

                <div class="local-scroll">
                  <a href="#" class="btn btn-mod btn-border-w btn-medium btn-round">瀏覽行程</a>
                  <span>&nbsp;</span>
                  <a href="#" class="btn btn-mod btn-border-w btn-medium btn-round">關於我們</a>
                </div>

              </div>

            </li>
            <!-- End Slide Item -->


            <!-- Slide Item -->
            <li data-transition="fade" data-slotamount="7" data-title="">

              <img src="assets/images/covers/city-crowd-people-2752.jpg"  alt="">

              <div class="caption fade tp-resizeme hs-line-8"
                data-startslide="1"
                data-x="center" data-hoffset="0"
                data-y="center" data-voffset="-100"
                data-speed="3000"
                data-start="800"
                data-endspeed="500"
                data-easing="Power4.easeOut"
                data-endeasing="Power4.easeIn">

                旅行 / 探索 / 放逐 / 追尋

              </div>

              <div class="caption fade tp-resizeme hs-line-7"
                data-startslide="1"
                data-x="center" data-hoffset="0"
                data-y="center" data-voffset="-14"
                data-speed="3500"
                data-start="800"
                data-endspeed="500"
                data-easing="Power4.easeOut"
                data-endeasing="Power4.easeIn">

                踏上從未想像的冒險旅途

              </div>


              <div class="caption fade tp-resizeme"
                data-startslide="1"
                data-x="center" data-hoffset="0"
                data-y="center" data-voffset="83"
                data-speed="3500"
                data-start="800"
                data-endspeed="500"
                data-easing="Power4.easeOut"
                data-endeasing="Power4.easeIn">

                <div class="local-scroll">
                  <a href="#" class="btn btn-mod btn-border-w btn-medium btn-round">瀏覽行程</a>
                  <span>&nbsp;</span>
                  <a href="#" class="btn btn-mod btn-border-w btn-medium btn-round">關於我們</a>
                </div>

              </div>

            </li>
            <!-- End Slide Item -->

          </ul>
          <div class="tp-bannertimer tp-bottom"></div>
        </div>
      </div>
      <!-- End Home Section -->

      <!-- Navigation panel -->
      <nav class="main-nav dark transparent stick-fixed">
        <div class="full-wrapper relative clearfix">
          <!-- Logo ( * your text or image into link tag *) -->
          <div class="nav-logo-wrap local-scroll">
            <a href="mp-index.html" class="logo">
              <img src="assets/images/spark-chi-white.png" alt="" />
            </a>
          </div>
          <div class="mobile-nav">
            <i class="fa fa-bars"></i>
          </div>

          <!-- Main Menu -->
          <div class="inner-nav desktop-nav">
            <ul class="clearlist bold">

              <!-- Item With Sub -->
              <li>
                <a href="#" class="active"><span>首頁</span></a>
              </li>
              <!-- End Item With Sub -->

              <!-- Item With Sub -->
              <li>
                <a href="#" class="mn-has-sub"><span>達人專訪 <i class="fa fa-angle-down"></i></span></a>

                <!-- Sub Multilevel -->
                <ul class="mn-sub to-left mn-has-multi">

                  <!-- Sub Column -->
                  <li class="mn-sub-multi width-nav">
                    <a class="mn-group-title">夢想的最初</a>
                    
                    <ul>
                      <li><a href="#">理性與感性，編織出那些有溫度的故事</a></li>
                      <li><a href="#">旅行，詮釋了生命的意義和感動</a></li>
                      <li><a href="#">與夢想命定的緣分</a></li>
                      <li><a href="#">圓夢的信念：熱情與堅持</a></li>
                      <li><a href="#">永遠別忘了，那一個追求初衷的自己</a></li>
                      <li><a href="#">勇氣，早已存在於自己心中</a></li>
                    </ul>
                    
                  </li>
                  <!-- End Sub Column -->

                  <!-- Sub Column -->
                  <!--
                  <li class="mn-sub-multi">
                    <a class="mn-group-title">旅行．美食．回憶</a>
                    
                    <ul>
                      <li><a href="#">即將公開</a></li>
                    </ul>
                    
                  </li>
                  -->
                  <!-- End Sub Column -->

                </ul>
                <!-- End Sub -->

              </li>
              <!-- End Item With Sub -->

              <!-- Item With Sub -->
              <li>
                <a href="#" class="mn-has-sub"><span>旅遊特蒐 <i class="fa fa-angle-down"></i></span></a>

                <!-- Sub Multilevel -->
                <ul class="mn-sub to-left mn-has-multi">

                  <!-- Sub Column -->
                  <li class="mn-sub-multi">
                    <a class="mn-group-title">旅行專題</a>

                    <ul>
                      <li><a href="http://mag.spark.gs/2015/go-to-a-hot-spring/"><span>快來泡進溫泉裡</span></a><li>
                      <li><a href="http://mag.spark.gs/2015/new-year/"><span>浪漫掛年去哪國</span></a><li>
                      <li><a href="http://mag.spark.gs/2014/xmas/"><span>冷冬耶誕暖了沒</span></a><li>
                    </ul>
                    
                  </li>
                  <!-- End Sub Column -->

                  <!-- Sub Column -->
                  <li class="mn-sub-multi">
                    <a class="mn-group-title">小編專欄</a>
                    
                    <ul>
                      <li><a href="http://mag.spark.gs/2015/go-to-a-hot-spring/"><span>快來泡進溫泉裡</span></a><li>
                      <li><a href="http://mag.spark.gs/2015/new-year/"><span>浪漫掛年去哪國</span></a><li>
                      <li><a href="http://mag.spark.gs/2014/xmas/"><span>冷冬耶誕暖了沒</span></a><li>
                    </ul>
                    
                  </li>
                  <!-- End Sub Column -->

                </ul>
                <!-- End Sub -->



              </li>
              <!-- End Item With Sub -->

              <!-- Divider -->
              <li><a>&nbsp;</a></li>
              <!-- End Divider -->

              <!-- Languages -->
              <li>
                <a href="#" class="mn-has-sub"><span>繁體中文 <i class="fa fa-angle-down"></i></span></a>

                <ul class="mn-sub">

                  <li><a href=""><span>繁體中文</span></a></li>
                  <li><a href=""><span>英文</span></a></li>
                  <li><a href=""><span>日文</span></a></li>

                </ul>

              </li>
              <!-- End Languages -->

            </ul>
          </div>
          <!-- End Main Menu -->

        </div>
      </nav>
      <!-- End Navigation panel -->

      <!-- Shop Section -->
      <section class="page-section pb-30">
        <div class="container relative">

          <h2 class="section-title align-left mt-0 mb-50 mb-sm-40 font-32 ls-1 opacity-7">
            <span class="fa fa-globe"></span> 最新行程

            <a href="shop-columns-3col.html" class="section-more font-18 ls-1 right">瀏覽更多行程 <i class="fa fa-angle-right" style="font-size: 18px;"></i></a>            
          </h2>
          
          <div class="row multi-columns-row">

            <!-- Shop Item -->
            <div class="col-md-4 col-lg-4 mb-60 mb-xs-40 wow fadeIn" data-wow-delay="0.1s" data-wow-duration="2s">
              <div class="post-prev-img cover-box">
                <a href="shop-single.html"><img src="assets/images/covers/101_yuann_1280x1024.jpg" alt="" /></a>
                <div class="cover-overlay">
                  <div class="cover-title font-22 bold">
                    <span class="label label-warning font-14 bold">台灣</span><br />
                    <span>台灣自由行</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Shop Item -->
            
            <!-- Shop Item -->
            <div class="col-md-4 col-lg-4 mb-60 mb-xs-40 wow fadeIn" data-wow-delay="0.2s" data-wow-duration="2s">
              <div class="post-prev-img cover-box">
                <a href="shop-single.html"><img src="assets/images/covers/20140328085709_83979.jpg" alt="" /></a>
                <div class="cover-overlay">
                  <div class="cover-title font-22 bold">
                    <span class="label label-warning font-14 bold">台灣</span>
                    <span class="label label-success font-14 bold">美食</span><br />
                    <span>三天吃遍七大夜市</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Shop Item -->
            
            <!-- Shop Item -->
            <div class="col-md-4 col-lg-4 mb-60 mb-xs-40 wow fadeIn" data-wow-delay="0.3s" data-wow-duration="2s">
              <div class="post-prev-img cover-box">
                <a href="shop-single.html"><img src="assets/images/covers/IMGP8801.jpg" alt="" /></a>
                <div class="cover-overlay">
                  <div class="cover-title font-22 bold">
                    <span class="label label-warning font-14 bold">日本</span>
                    <span class="label label-success font-14 bold">參拜</span><br />
                    <span>關西神社參拜</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Shop Item -->

          </div>
          
        </div>
      </section>
      <!-- End Shop Section -->

      <!-- Features Section -->
      <section class="page-section pt-80 pb-90 service-section">
        <div class="container relative">

          <h2 class="section-title mb-70 mb-sm-40 font-32 ls-1 opacity-7">
            <span class="fa fa-plug"></span> 我們的服務
          </h2>

          <!-- Features Grid -->
          <div class="row multi-columns-row alt-features-grid">

            <!-- Features Item -->
            <div class="col-sm-6 col-md-4 col-lg-4">
              <div class="alt-features-item align-center">
                <div class="alt-features-icon">
                  <span class="fa fa-flash"></span>
                </div>
                <h3 class="alt-features-title">閃電般的行程規劃</h3>
                <div class="alt-features-descr align-left">
                  我們知道準備一趟旅行並不是件簡單的事。Spark 帶來了您從未體驗過的互動方式和最新最豐沛的相關資訊，讓您大幅減少規劃行程的時間，一小時內就可以立即出發。
                </div>
              </div>
            </div>
            <!-- End Features Item -->

            <!-- Features Item -->
            <div class="col-sm-6 col-md-4 col-lg-4">
              <div class="alt-features-item align-center">
                <div class="alt-features-icon">
                  <span class="fa fa-magic"></span>
                </div>
                <h3 class="alt-features-title">最深入的景點資訊</h3>
                <div class="alt-features-descr align-left">
                  不知道某餐廳是否還有營業？網路上找到都是過期資訊？
                  Spark 不但保證每筆資訊都是最新狀態，更提供當地現在的活動情報，讓您可以玩的更加深入，與眾不同。
                </div>
              </div>
            </div>
            <!-- End Features Item -->

            <!-- Features Item -->
            <div class="col-sm-6 col-md-4 col-lg-4">
              <div class="alt-features-item align-center">
                <div class="alt-features-icon">
                  <span class="fa fa-comments-o"></span>
                </div>
                <h3 class="alt-features-title">零距離的貼心服務</h3>
                <div class="alt-features-descr align-left">
                  不知道怎麼樣玩最順暢？有許多問題需要徵詢解惑？
                  Spark 針對每個行程提供即時專業的諮詢服務，讓您不再需要到處發文，亂槍打鳥。
                </div>
              </div>
            </div>
            <!-- End Features Item -->

          </div>
          <!-- End Features Grid -->

        </div>
      </section>
      <!-- End Features Section -->

      <!-- Testimonials Section -->
      <section class="page-section bg-dark bg-dark-alfa-30 fullwidth-slider" data-background="assets/images/covers/photo-1418226970361-9f1f7227d638.jpeg">

        <!-- Slide Item -->
        <div>
          <div class="container relative">
            <div class="row">
              <div class="col-md-8 col-md-offset-2 align-center">
                <!-- Section Icon -->
                <div class="section-icon">
                  <span class="icon-quote"></span>
                </div>
                <!-- Section Title -->
                <h3 class="small-title">&nbsp;</h3>
                <blockquote class="testimonial white font-22">
                  <p>
                    年輕的流浪是一生的養分。
                  </p>
                  <footer class="testimonial-author font-16 italic white">
                    林懷民
                  </footer>
                </blockquote>
              </div>
            </div>
          </div>
        </div>
        <!-- End Slide Item -->

        <!-- Slide Item -->
        <div>
          <div class="container relative">
            <div class="row">
              <div class="col-md-8 col-md-offset-2 align-center">
                <!-- Section Icon -->
                <div class="section-icon">
                  <span class="icon-quote"></span>
                </div>
                <!-- Section Title -->
                <h3 class="small-title">&nbsp;</h3>
                <blockquote class="testimonial white font-22">
                  <p>
                    世界是一本書，而不旅行的人們只讀了其中的一頁。
                  </p>
                  <footer class="testimonial-author font-16 italic white">
                    聖．奧古斯丁
                  </footer>
                </blockquote>
              </div>
            </div>
          </div>
        </div>
        <!-- End Slide Item -->

        <!-- Slide Item -->
        <div>
          <div class="container relative">
            <div class="row">
              <div class="col-md-8 col-md-offset-2 align-center">
                <!-- Section Icon -->
                <div class="section-icon">
                  <span class="icon-quote"></span>
                </div>
                <!-- Section Title -->
                <h3 class="small-title">&nbsp;</h3>
                <blockquote class="testimonial white font-22">
                  <p>
                    對我來說，重點不是出發去那裡旅行，而是出發。我是為旅行而旅行。最棒的事就是前進。
                  </p>
                  <footer class="testimonial-author font-16 italic white">
                    羅伯特．路易士．史蒂文森
                  </footer>
                </blockquote>
              </div>
            </div>
          </div>
        </div>
        <!-- End Slide Item -->

      </section>
      <!-- End Testimonials Section -->

      <!-- Features Section -->
      <section class="page-section">
        <div class="container relative">

          <div class="section-text mb-50 mb-sm-20">
            <div class="row">

              <div class="col-md-3">

                <div class="align-center">
                  <img src="assets/images/logo.png">
                </div>

                <h2 class="section-title mb-70 mb-sm-40 font-12 ls-2">
                  旅程，精彩可期
                </h2>
              </div>

              <div class="col-md-9 col-sm-12 mt-30 mb-sm-50 mb-xs-30 font-18">
                旅行，只能不是跟團就是自己拼命蒐集資訊的苦命自助嗎？<br />
                旅行，只能不是走馬看花就是迷路回家嗎？<br />
                <br />
                Spark 是一個專注於旅遊領域的全新團隊，希望能為使用者帶來更便利更深入的旅行體驗，<br />
                等不及了嗎？快來看看我們推出的行程攻略！
              </div>

            </div>
          </div>

        </div>
      </section>
      <!-- End Features Section -->

      <!-- Foter -->
      <footer class="page-section bg-gray-lighter footer pb-60">
        <div class="container">

          <!-- Footer Text -->
          <div class="footer-text">

            <!-- Copyright -->
            <div class="footer-copy ls-1">
              <a href="http://themeforest.net/user/theme-guru/portfolio" target="_blank">&copy; Spark 2015</a>.
            </div>
            <!-- End Copyright -->

            <div class="footer-made">
              串連所有旅行的感動
            </div>

          </div>
          <!-- End Footer Text -->

         </div>


         <!-- Top Link -->
         <div class="local-scroll">
           <a href="#top" class="link-to-top"><i class="fa fa-caret-up"></i></a>
         </div>
         <!-- End Top Link -->

      </footer>
      <!-- End Foter -->


    </div>
    <!-- End Page Wrap -->


    <!-- JS -->
    <script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/jquery.scrollTo.min.js"></script>
    <script type="text/javascript" src="js/jquery.localScroll.min.js"></script>
    <script type="text/javascript" src="js/jquery.viewport.mini.js"></script>
    <script type="text/javascript" src="js/jquery.countTo.js"></script>
    <script type="text/javascript" src="js/jquery.appear.js"></script>
    <script type="text/javascript" src="js/jquery.sticky.js"></script>
    <script type="text/javascript" src="js/jquery.parallax-1.1.3.js"></script>
    <script type="text/javascript" src="js/jquery.fitvids.js"></script>
    <script type="text/javascript" src="js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="js/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="js/imagesloaded.pkgd.min.js"></script>
    <script type="text/javascript" src="js/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&amp;language=en"></script>
    <script type="text/javascript" src="js/gmap3.min.js"></script>
    <script type="text/javascript" src="js/wow.min.js"></script>
    <script type="text/javascript" src="js/masonry.pkgd.min.js"></script>
    <script type="text/javascript" src="js/jquery.simple-text-rotator.min.js"></script>
    <script type="text/javascript" src="js/all.js"></script>
    <script type="text/javascript" src="js/contact-form.js"></script>
    <script type="text/javascript" src="rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="js/rev-slider.js"></script>
    <!--[if lt IE 10]><script type="text/javascript" src="js/placeholder.js"></script><![endif]-->

  </body>
</html>
